<div class="container">
  <h1>Angular Components</h1>

  <!--сюда мы получаем onAdd параметр из дочерней компоненты,
  и когда мы его получаем, мы вызваем метод updatePosts, в
  который должны передать те данные, которые нам пришли из
  дочерней компоненты с помощью $event. потому что если мы в
  Angular вызываем пустой метод в Angular, то теряется тот параметр,
  который мы передавали. поэтому чтоб передать какой-то {} в метод,
  мы должны использовать ключевое слово $event-->
  <app-post-form (onAdd)="updatePosts($event)"></app-post-form>

  <hr>

  <!--передавать параметры внутрь компоненты можно и пробрасывая между
  тегами компоненты html с нужными данными, но чтоб они появились на странице,
  нужно их отразить в дочерней компоненте с помощью тега ng-content-->
  <app-post *ngFor="let p of posts" [post]="p">
    <!--чтоб получить в дочерней компоненте доступ до конкретного html-элемента, который
    мы получаем как <ng-content></ng-content>, нужно отметить в родительской компоненте
    этот элемент через #, а в дочерней получить его через декоратор @ContentChild-->
    <div #info>
      <small *ngIf="p.text.length > 10; else short">Пост длинный</small>
      <ng-template #short>
        <small>Пост короткий</small>
      </ng-template>
    </div>
  </app-post>
</div>
