<nav class="navbar">
  <h1>
    <!--вместо href для spa исп-ся routerLink, его можно забайндить-->
    <a routerLink="/">Angular Routing</a>
  </h1>
  <ul>
    <!--для обозначения активной ссылки есть директива routerLinkActive, а для того
    чтоб проверить что роут полностью идентичен пути, а не частично, есть директива
    routerLinkActiveOptions, где мы указываем exact=true-->
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active"><a routerLink="/posts">Posts</a></li>
    <li  routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
    <li><button class="btn">Login</button></li>
    <li><button class="btn">Logout</button></li>
  </ul>
</nav>

<div class="container">
  <div class="card">
    <!--сюда будут отрисовываться компоненты динамически при совпадении пути с роутом-->
    <router-outlet></router-outlet>
  </div>
</div>



